<!DOCTYPE html>
<html>
<head>
    <title>caso practico 2 - VM webserver</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>servidor web con podman</h1>
    <p>Caso Práctico 2 - Despliegue de Ansible</p>
    <p>VM: {{ vm_public_ip }}</p>
    <p>ACR: {{ acr_name }}</p>
</body>
</html>