<!DOCTYPE html>
<html>
<head>
    <title>azure vote App - frontend</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Azure vote para caso práctico</h1>
    <p>Frontend desplegado en AKS</p>
    <p>Namespace: {{ app_namespace }}</p>
</body>
</html>